In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("municipios_brasileiro.csv", sep=';', encoding="UTF-8")

In [14]:
df.head()

           CITY STATE  Pop_residente  IDHM_Rank  Renda Educacao  CARRO Regiao
0    Acrelândia    AC          12538       4079  0,584    0,466   1223  Norte
1  Assis Brasil    AC           6072       4448  0,578    0,456    290  Norte
2     Brasiléia    AC          21398       3832  0,619    0,485   2122  Norte
3        Bujari    AC           8471       4426  0,603    0,439    577  Norte
4      Capixaba    AC           8798       4755  0,601    0,398    561  Norte

In [18]:
df = pd.read_csv("municipios_brasileiro.csv", sep=';', encoding="UTF-8", header=0)

In [20]:
df.head()

           CITY STATE  Pop_residente  IDHM_Rank  Renda Educacao  CARRO Regiao
0    Acrelândia    AC          12538       4079  0,584    0,466   1223  Norte
1  Assis Brasil    AC           6072       4448  0,578    0,456    290  Norte
2     Brasiléia    AC          21398       3832  0,619    0,485   2122  Norte
3        Bujari    AC           8471       4426  0,603    0,439    577  Norte
4      Capixaba    AC           8798       4755  0,601    0,398    561  Norte

In [23]:
df.shape

(5559, 8)

In [28]:
df = df.drop('CARRO',axis=1)

In [29]:
df = df.drop('Educacao',axis=1)

                CITY STATE  Pop_residente  IDHM_Rank  Renda Regiao
0         Acrelândia    AC          12538       4079  0,584  Norte
1       Assis Brasil    AC           6072       4448  0,578  Norte
2          Brasiléia    AC          21398       3832  0,619  Norte
3             Bujari    AC           8471       4426  0,603  Norte
4           Capixaba    AC           8798       4755  0,601  Norte
...              ...   ...            ...        ...    ...    ...
5554  Tocantinópolis    TO          22619       2415  0,634  Norte
5555        Tupirama    TO           1574       2690  0,629  Norte
5556      Tupiratins    TO           2097       4484  0,601  Norte
5557    Wanderlândia    TO          10981       3352  0,619  Norte
5558         Xambioá    TO          11484       2648  0,648  Norte

[5559 rows x 6 columns]

In [31]:
df["Renda"]

0       0,584
1       0,578
2       0,619
3       0,603
4       0,601
        ...
5554    0,634
5555    0,629
5556    0,601
5557    0,619
5558    0,648
Name: Renda, Length: 5559, dtype: object

In [41]:
df[["CITY","Renda"]]

                CITY  Renda
0         Acrelândia  0,584
1       Assis Brasil  0,578
2          Brasiléia  0,619
3             Bujari  0,603
4           Capixaba  0,601
...              ...    ...
5554  Tocantinópolis  0,634
5555        Tupirama  0,629
5556      Tupiratins  0,601
5557    Wanderlândia  0,619
5558         Xambioá  0,648

[5559 rows x 2 columns]

In [56]:
df

CITY             São Paulo
STATE                   SP
Pop_residente     11253503
IDHM_Rank               28
Renda                0,843
Educacao             0,725
Regiao             Sudeste
Name: 5340, dtype: object